#jesse {
  background-image: url(http://thedailycougar.com/wp-content/uploads/2020/10/PRINT_NEWS_Among-Us_Juana-Garcia.png);
  background-repeat: no-repeat;
  color: white;
}

.jHeight {
  height: 500px;
}
